* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background-color: #62576d;
}

.header {
  padding: 5px;
  height: 86px;
  background-color: olive;
  border-width: thin;
  border: 4px;
}

#logo {
  height: 84px;
  position:relative;
  float:left;
  background-color: yellow;
  margin-right: 20px;
  border-radius: 10px;

}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: .3em;
  position:relative;
  top: 32%;

}

button {
  width: 110px;
  font-weight: bold;
}

.main {
  clear: both;
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

#quoteDisplay {
  clear: both;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.quoteButton {
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

.twitter {
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

#twitterLink {
  width: 50px;
}

#cast {
  width: 75%;
  border-radius: 20px;
}
