* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background-color: #62576d;
}

.header {
  padding: 5px;
  height: 86px;
  background-color: olive;
  border-width: thin;
  border: 4px;
  box-shadow: 5px 5px 10px black;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: .3em;
  position:relative;
  top: 32%;

}

button {
  border: solid #433c4a 2px;
  width: 110px;
  height: 30px;
  font-weight: bold;
  border-radius: 10px;
}

button:focus {outline:0;}

#logo {
  height: 84px;
  position:relative;
  float:left;
  background-color: yellow;
  margin-right: 20px;
  border-radius: 10px;
}

#quoteBox {
  background-color: #9c8aaf;
  border: solid #433c4a 2px;
  clear: both;
  width: 570px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

#quoteDisplay {
  clear: both;
  width: 560px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

#authorDisplay {
  clear: both;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

#cast {
  width: 75%;
  border: solid #433c4a 2px;
  border-radius: 20px;
}

.main {
  clear: both;
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

.quoteButton {
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

.twitter {
  margin: 20px auto;
  width: 200px;
  text-align: center;
  font-size: .8em;
}

.twitterLink {
  width: 50px;
}
